body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.container { 
    box-sizing: border-box;  
    padding: 20px;
    background-color: #5f9341;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#userName, #password {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 10px;
}

label {
    color: white;
    font-weight: 900;
    margin-bottom: 5px;
    align-self: flex-start;
    margin-top: 5px;/* Align labels to the left */
}

/* Style for both buttons */
#btn, #sign-up-btn {
    width: 100px;
    height: 35px;
    margin-top: 5px;
    border: none;
    font-weight: 600;
    border-radius:  18px;
    border: 1px solid #4a7232;
    background-color: white;
    color: black;
}

#login-google {
    width: 200px;
    height: 35px;
    margin-top: 5px;
    border: none;
    font-weight: 600;
    border-radius:  18px;
    border: 1px solid #4a7232;
    background-color: white;
    color: black;
    

}

/* Specific styling for the login button */

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px; 
    width: 100%;
}

button:hover {
    background-color: #5f9341;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-color: transparent;
}

